*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.height{
    height: 500px;
    background: transparent;
    object-fit:fill;
}

.main-carousel .swiper-pagination-bullet{
    display: none;
}

.swiper-button-next,.swiper-button-prev{
    color: white;
}

@media (max-width:600px) {
    .height{
        width: 85vw;
        height: 29vh;
        background: transparent;
    }

    .swiper-button-next,.swiper-button-prev {
        display: none;
    } 
    
    .main-carousel .swiper-pagination-bullet{
        display: inline-block;
    }
   
    
}